#title {
    -fx-font-size: 90px;
}


#hover {
	-fx-font-size: 30px;
}

.label {
    -fx-font-size: 25px;
}

.menubutton {
	-fx-font-size: 50px;
	-fx-padding: 20px;
}

.vbox {
    -fx-padding: 80 0 80 0;
    -fx-spacing: 20;
}