#title {
    -fx-font-size: 60px;
  	-fx-font-family: "UglyQua";
   	-fx-fill: #818181;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.label {
	-fx-font-size: 18px;
    -fx-font-family: "UglyQua";
}

.button {
	-fx-font-size: 26px;
    -fx-font-family: "UglyQua";
    -fx-background-color: transparent;
}

.button:hover {
	-fx-text-fill: #A62E2E;
	-fx-stroke: black;
    -fx-stroke-width: 1;
}

.root {
     -fx-background-image: url("storm.jpg");
}