#title {
    -fx-font-size: 90px;
}

#hover {
	-fx-font-size: 30px;
}

.menulabel {
    -fx-font-size: 27px;
}

.speedlabel {
    -fx-font-size: 30px;
}

.menubutton {
	-fx-font-size: 50px;
	-fx-padding: 20px;
}

.vbox {
    -fx-padding: 80 0 80 0;
    -fx-spacing: 20;
}

.combo-box {
    -fx-font-size: 15px;
}

.combo-box-popup .list-view {
    -fx-font-size: 13px;
}

/**********************************************************/

.grid{
    -fx-padding: 25 0 25 0;
    -fx-hgap: 15;
    -fx-vgap: 15;
}

.scroll-pane {
    -fx-padding: 40 120 40 120;

}

.titled-pane > .title {
    -fx-font-size: 15px;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-padding: 5 10 5 10;
}

.tooltipi{
    -fx-border-width: 1px; 
    -fx-font-size: 13px;
    -fx-padding: 5 10 5 10;
}

.inmenubutton{
    -fx-font-size: 16px;
}

.errorlabel{
    -fx-font-size: 80px;
}

.selectionbutton {
    -fx-font-size: 22px;
}

.openbutton {
    -fx-font-size: 40px;
}



/*Team Selection*/
.formattingfixer{
    -fx-padding: 0 280 0 240;
}

.teamselectionbutton{
    -fx-font-size: 25px;
}

.teamwindowbutton{
    -fx-font-size: 16px;
}

.vbox{
	-fx-padding: 50 105 0 105;
}

.teamwindow{
	-fx-font-size: 16px;
    -fx-padding: 0 0 0 50;
}

/*Map Selection*/
.formattingfixer2{
    -fx-padding: 0 330 0 350;
}

.maplist-view .list-cell {
    -fx-font-size: 24;
    -fx-padding: 15 60 0 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.preview {
    -fx-font-size: 23px;
    -fx-padding: 0 200 0 0;
}

